@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: 'Pretendard';
  src: url('/font/PretendardVariable.woff2') format('woff2');
}

body {
  font-family: 'Pretendard';
}
